extends layout

block content
  link(rel='stylesheet', href='/stylesheets/message.css')
  section
    if !user
      h1.primary Sign up now to start messaging!
    else 
      h1.primary Welcome back, #{user.ogName}
    h1 All Messages
    if messages.length
      .messages
        for message in messages
          .message
            .message-header
              if message.user
                if user
                  if message.user.username == user.username
                    a(href=message.user.url) 
                      h3.user= message.user.ogName
                    h4.gray= message.formattedTimestamp
                  else if user.role == "member" || user.role == "admin"
                    if message.user.role == "non-member"
                      a(href=message.user.url) 
                        h3.gray= message.user.ogName
                    else if message.user.role == "member"
                      a(href=message.user.url) 
                        h3= message.user.ogName
                    else if message.user.role == "admin"
                      a(href=message.user.url) 
                        h3.admin= message.user.ogName
                    h4.gray= message.formattedTimestamp
            .message-body
                h3= message.title
                p!= message.text
            if user && (message.user.username == user.username || user.role == "admin")
              .delete
                a(href=`/messages/${message._id}/delete`) Delete
            else if !user || user.role == "non-member"
              hr
              p.gray Become a member to view the author and date of messages
    else 
      p There are currently no messages.
