extends layout

block content
  link(rel='stylesheet', href='/stylesheets/message.css')
  section
    if !user
      h1.primary Sign up now to start messaging!
    else 
      h1.primary Welcome back #{user.username}
    h1 All Messages
    if messages.length
      .messages
        for message in messages
          .message
            .message-header
              if user
                if message.user.username == user.username
                  h3.user= message.user.username
                else 
                  h3= message.user.username
              h3= message.title
            .message-body 
              p!= message.text
    else 
      p There are currently no messages.
          