extends layout

block content
    link(rel='stylesheet', href='/stylesheets/message.css')
    section
        if user.role !== 'non-member'
            h1.primary User List
            if users.length
                each user_ in users
                    if user_.username == user.username 
                        a(href=user_.user_url)
                            h3.user= user_.og_name
                    else if user_.role == 'non-member'
                        a(href=user_.user_url)
                            h3.gray= user_.og_name
                    else if user_.role == 'member'
                        a(href=user_.user_url)
                            h3= user_.og_name
                    else if user_.role == 'admin'
                        a(href=user_.user_url)
                            h3.admin= user_.og_name
            else
                p No users found.
        else 
            h1.primary Become a member to search for users!